---
import DashBoardLayout from "../../layouts/dashboard/DashBoardLayout.astro";
import Pedidos from "../../components/Pedidos.astro";
import DashboardNav from "../../components/DashboardNav.astro";

export const prerender = false;
const user = Astro.locals.user;
const path = Astro.url.pathname;
const base_URL = "/dashboard";

---

<DashBoardLayout title="Gestión de pedidos">
    <div class="w-full md:max-w-7xl mx-auto flex flex-col relative">
        <header class="flex flex-col gap-3 my-7 md:mt-14 w-full md:w-7xl mx-auto">
            <h1 class="text-4xl font-semibold tracking-wide text-gray-900 uppercase animate-fade-in">
                Listado de pedidos
            </h1>
            <p class="text-gray-600 text-base max-w-3xl leading-relaxed animate-fade-in animate-delay-100">
                Listado de pedidos de los clientes
            </p>
        </header>
        <DashboardNav />
        <Pedidos className="w-full flex flex-col" />
    </div>
</DashBoardLayout>