<footer class="mt-auto" aria-label="Peu de pàgina" id="footer" class="w-full flex flex-col items-center">
    <div class="flex justify-center items-center py-6">
        <span class="text-black/70 font-normal text-sm">
            &copy; {new Date().getFullYear()} Joan Olivé, S.L. Todos los derechos reservados
        </span>
    </div>
</footer>